# Python
*.pyc
__pycache__/
*.pyo
*.pyd
env/
venv/
.env
data-analysis-api

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log

# Data Files
*.csv
*.xlsx
*.xls
*.json

# Output files
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.pdf

# Miscellaneous
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
